/* Custom scrollbar for WebKit browsers */
body::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #2f4433; 
    border-radius: 6px; /* Rounded corners of the thumb */
  }
  
  body::-webkit-scrollbar-track {
    background-color: #1c2525; 
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background-color: #397e59; 
  }
  
  /* Custom scrollbar for Firefox */
  body {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2f4433 #18241b; 
  }
  
  body:hover {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #283f33#330000; 
  }
  
